html,
body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}

canvas {
  margin: 0;
  margin-top: 0;
  margin-left: 0;
}

@font-face {
  font-family: 'Abaddon-Bold';
  src: url('./assets/fonts/Abaddon-Bold.woff') format('woff');
}
